body {
  font-size: 16px;
 
}


#header-nav {
  background-color: #d6b4d2;
  border-radius: 0;
  border: 0;
}



#brand {
  padding: 15px;
}



#brand h1 { 
  font-size: 1.5em;
  color: #2e202c;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
 
}

.navbar-toggler-icon { 
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler-iconZZZ { 
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#collapsable-nav a {
  color: #473244;
  text-align: center;
}


#collapsable-nav a:hover {
  background-color: #e7e7e7;
}

#collapsable-nav .bi {
  font-size: 2em;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: #473244;
  text-align: center;
}


#nav-list a:hover {
  background-color: #e7e7e7;
}



button.navbar-toggler {
  border: 1px solid #61122f;
}


.box p {
  background-color: #fae3f8;
  border: #473244 1px solid ;
}

.box h3 {
  color: #473244;
 
}

h1, p {
  color: #473244;
}


.box a {
  color: #f553e3;
}


/********** Large devices only **********/
@media (min-width: 1200px) {
#nav-list {
    display: none;
   }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

    #nav-list {
    display: none;
   }

   #brand h1 { 
       font-size: 1.8em
    }
  
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #collapsable-nav .bi {
    font-size: 1.8em;
  }
   #nav-list {
    display: none;
   }
 
  
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  
  
  #brand h1 { 
    font-size: 5.5vw;
  }
  

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav .bi { /* Collapsed nav menu glyph */
    font-size: 1.2em;
    margin-right: 5px;
  }
}
